.body {
    background:#FFD373;
  }
  .hello {
    color:#015965;
    font style: Arial;
    text-align: center;
  }
  .form {
  background: #fff;
  width: 300px;
  height: 500px;
  padding: 30px 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .form-login, form-pass {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
 }

 .remember {
   text-align: left;
   font-style: bold;
 }
 button {
  background: #A60C00	;
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
 }